<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 4개 추가했음 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MungMungDoctorTP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".bnv1care.ShowHosActivity"
            android:exported="false" />

        <activity
            android:name=".bnv1care.RecordHosActivity"
            android:exported="false"/>
        <activity
            android:name=".bnv1care.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".bnv1care.HealthDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bnv1care.HealthInfoActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bnv2map.MapDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 네이버 map에 클라이언트 아이디 지정하기 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="1eaqvacjgg" />
    </application>

</manifest>